.vizualizare {
  background-image: url("https://wallpaperaccess.com/full/1311077.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 567px;
}
.Register {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Lnhs_A_7uvEAKrCMniq7fLQVk0DOZA6_2w&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 570px;
}
.LoginHome {
  background-image: url("https://media.istockphoto.com/id/1306932184/vector/abstract-simple-pink-wave-vector-illustration.jpg?s=612x612&w=0&k=20&c=tSEZc-LoCve31H8iakGsGuGeTZZi74AuyF7h54jy-7o=");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 570px;
}
.HomeAjutor {
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
