.LoginHome {
  background-image: url('https://media.istockphoto.com/id/1306932184/vector/abstract-simple-pink-wave-vector-illustration.jpg?s=612x612&w=0&k=20&c=tSEZc-LoCve31H8iakGsGuGeTZZi74AuyF7h54jy-7o=');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 570px;
}
