.Register {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Lnhs_A_7uvEAKrCMniq7fLQVk0DOZA6_2w&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 570px;
}
